<!DOCTYPE html>
<html>
  <head>
    <title>Bullshit</title>
    <script src='scripts/bullshit.js'></script>
    <link rel='stylesheet' href='styles/stylesheet.css' />
  </head>
  <body>
    <h1>Website</h1>
  </body>
</html>